<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljf.ploughthewaves.infrastructure.dao.UserDao">
    <insert id="insert" parameterType="com.ljf.ploughthewaves.infrastructure.po.User">
        insert into ploughthewaves.user(id, openid, name, school, ispublic, isadmin)
        value (#{id},#{openId},#{name},#{school},#{isPublic},#{isAdmin});
    </insert>

    <select id="queryUserIdByOpenId" parameterType="String" resultType="Integer">
        select id
        from ploughthewaves.user
        where openid = #{openid};
    </select>

    <delete id="delete" parameterType="Integer">
        delete from ploughthewaves.user
        where id = #{uid};
    </delete>

    <update id="setDetailInfo" parameterType="com.ljf.ploughthewaves.infrastructure.po.User">
        update ploughthewaves.user
        set name = #{name} , school = #{school} , ispublic = #{isPublic}
        where openid = #{openId};
    </update>
</mapper>