<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljf.ploughthewaves.infrastructure.dao.UserAndOj2Dao">

    <insert id="insert" parameterType="com.ljf.ploughthewaves.infrastructure.po.UserAndOj2">
        insert into ploughthewaves.userandoj2(id, ojtype, uid, oj_username, now_rating, max_rating, recent_max_rating, all_solved_number, recent_solved_number, all_contest_number, recent_contest_number, upd_time)
        value (#{id},#{ojType},#{uid},#{ojUsername},#{nowRating},#{maxRating},#{recentMaxRating},#{allSolvedNumber},#{recentSolvedNumber},#{allContestNumber},#{recentContestNumber},#{updTime});
    </insert>

    <delete id="deleteByUid" parameterType="Integer">
        delete from ploughthewaves.userandoj2
        where uid = #{uid};
    </delete>

    <delete id="deleteByOpenidOjTypeUsername">
        delete
        from ploughthewaves.userandoj2
        where uid = (
            select id
            from ploughthewaves.user
            where openid = #{openid}
        ) and ojtype = #{ojType} and oj_username = #{ojUsername};
    </delete>
</mapper>