<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljf.ploughthewaves.infrastructure.dao.UserAndOj2Dao">

    <insert id="insert" parameterType="com.ljf.ploughthewaves.infrastructure.po.UserAndOj2">
        insert into ploughthewaves.userandoj2(id, ojtype, uid, oj_username, now_rating, max_rating, recent_max_rating, all_solved_number, recent_solved_number, all_contest_number, recent_contest_number, upd_time)
        value (#{id},#{ojType},#{uid},#{ojUsername},#{nowRating},#{maxRating},#{recentMaxRating},#{allSolvedNumber},#{recentSolvedNumber},#{allContestNumber},#{recentContestNumber},now());
    </insert>

    <delete id="deleteByUid" parameterType="Integer">
        delete from ploughthewaves.userandoj2
        where uid = #{uid};
    </delete>

    <delete id="deleteByOpenidOjTypeUsername">
        delete
        from ploughthewaves.userandoj2
        where uid = (
            select id
            from ploughthewaves.user
            where openid = #{openid}
        ) and ojtype = #{ojType} and oj_username = #{ojUsername};
    </delete>

    <resultMap id="bindInfo" type="com.ljf.ploughthewaves.infrastructure.po.BindInfo">
        <result column="ojtype" property="ojType"/>
        <result column="oj_username" property="ojUsername"/>
        <result column="all_solved_number" property="solvedNumber"/>
    </resultMap>
    <select id="getBindInfo" parameterType="String" resultMap="bindInfo">
        select ojtype, oj_username, all_solved_number
        from ploughthewaves.user join ploughthewaves.userandoj2 on user.id = userandoj2.uid
        where user.openid = #{openid};
    </select>

    <resultMap id="crawlReq" type="com.ljf.ploughthewaves.domain.poista.model.req.CrawlReq">
        <result column="uid" property="uid"/>
        <result column="ojtype" property="ojType"/>
        <result column="oj_username" property="ojUsername"/>
        <result column="all_solved_number" property="allSolvedNumber"/>
        <result column="all_contest_number" property="allContestNumber"/>
        <result column="upd_time" property="updTime"/>
    </resultMap>
    <select id="getCrawlReqListByOpenid" parameterType="String" resultMap="crawlReq">
        select uid,ojtype,oj_username,all_solved_number,all_contest_number,upd_time
        from ploughthewaves.user join ploughthewaves.userandoj2 on user.id = userandoj2.uid
        where user.openid = #{openid};
    </select>
    <select id="getCrawlReqList" resultMap="crawlReq">
        select uid,ojtype,oj_username,all_solved_number,all_contest_number,upd_time
        from ploughthewaves.userandoj2
    </select>

    <update id="update" parameterType="com.ljf.ploughthewaves.infrastructure.po.UserAndOj2">
            update ploughthewaves.userandoj2
            set all_solved_number = #{allSolvedNumber},
                now_rating = #{nowRating},
                max_rating = #{maxRating},
                recent_max_rating = #{recentMaxRating},
                recent_solved_number = #{recentSolvedNumber},
                all_contest_number = #{allContestNumber},
                recent_contest_number = #{recentContestNumber},
                upd_time = now()
            where uid = #{uid} and ojtype = #{ojType} and oj_username = #{ojUsername}
    </update>

    <resultMap id="userAndOj2" type="com.ljf.ploughthewaves.infrastructure.po.UserAndOj2">
        <result column="uid" property="uid"/>
        <result column="name" property="name"/>
        <result column="ojtype" property="ojType"/>
        <result column="oj_username" property="ojUsername"/>
        <result column="now_rating" property="nowRating"/>
        <result column="max_rating" property="maxRating"/>
        <result column="recent_max_rating" property="recentMaxRating"/>
        <result column="all_solved_number" property="allSolvedNumber"/>
        <result column="recent_solved_number" property="recentSolvedNumber"/>
        <result column="all_contest_number" property="allContestNumber"/>
        <result column="recent_contest_number" property="recentContestNumber"/>
        <result column="upd_time" property="updTime"/>
    </resultMap>
    <select id="getStuInfo" parameterType="String" resultMap="userAndOj2">
        select uid,name,ojtype,  oj_username, now_rating, max_rating, recent_max_rating,
               all_solved_number, recent_solved_number, all_contest_number, recent_contest_number, upd_time
        from ploughthewaves.user join ploughthewaves.userandoj2 on user.id = userandoj2.uid
        where user.school = #{school}
    </select>
</mapper>