<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljf.ploughthewaves.infrastructure.dao.UserAndOj1Dao">
    <insert id="insert" parameterType="com.ljf.ploughthewaves.infrastructure.po.UserAndOj1">
        insert into ploughthewaves.userandoj1(id, ojtype, uid, oj_username, all_solved_number, upd_time)
        value (#{id},#{ojType},#{uid},#{ojUsername},#{allSolvedNumber},#{updTime});
    </insert>

    <delete id="deleteByUid" parameterType="Integer">
        delete from ploughthewaves.userandoj1
        where uid = #{uid};
    </delete>

    <delete id="deleteByOpenidOjTypeUsername">
        delete
        from ploughthewaves.userandoj1
        where uid = (
            select id
            from ploughthewaves.user
            where openid = #{openid}
            ) and ojtype = #{ojType} and oj_username = #{ojUsername};
    </delete>
</mapper>