<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>POISTA</title>
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/favicon.png"/>
</head>
<body>
<div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
            <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                <a class="navbar-brand brand-logo" th:href="@{/}">
                    <img src="images/logo.svg" alt="logo"/>
                </a>
                <a class="navbar-brand brand-logo-mini" th:href="@{/}">
                    <img src="images/logo-mini.svg" alt="logo"/>
                </a>
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-sort-variant"></span>
                </button>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav mr-lg-4 w-50">
                <li class="nav-item nav-search d-none d-lg-block w-100">
                    <div class="input-group">
                        <input id="search_kw" type="text" class="form-control" placeholder="搜索用户" aria-label="search"
                               aria-describedby="search">
                        <div class="input-group-append">
                            <span class="input-group-text" id="search">
                                <i class="mdi mdi-magnify"></i>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <div sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <span class="nav-profile-name" sec:Authentication="name"></span>
                            <span class="nav-profile-name"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                             aria-labelledby="profileDropdown">
                            <a class="dropdown-item" th:href="@{/myinfo}">
                                <span class="mdi mdi-settings text-primary"></span>
                                设置
                            </a>
                            <a class="dropdown-item" th:href="@{/logout}">
                                <span class="mdi mdi-logout text-primary"></span>
                                退出
                            </a>
                        </div>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}">
                            <span class="text-body">
                                登录&nbsp;&nbsp;&nbsp;
                            </span>
                        </a>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/register}">
                            <span class="text-body">
                                 注册&nbsp;&nbsp;
                            </span>
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">主页</span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ROLE_admin')">
                    <a class="nav-link" th:href="@{/stupool}">
                        <i class="mdi mdi-account-group menu-icon"></i>
                        <span class="menu-title">学生池</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/myinfo}">
                        <i class="mdi mdi-account menu-icon"></i>
                        <span class="menu-title">我的信息</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="d-flex align-items-end flex-wrap">
                                <div class="mr-md-3 mr-xl-5">
                                    <h2>OJ刷题数查询</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card" id="adddiv">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-description">输入OJ和用户名:</p>
                                <div class="form-inline">
                                    <div class="mb-4">
                                        <input type="text" class="form-control" id="inlineFormInputName1" placeholder="OJ">
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="mb-4">
                                        <input type="text" class="form-control" id="inlineFormInputName2" placeholder="Username">
                                    </div>
                                    <div class="col-1" ></div>
                                    <div class="mb-4">
                                    <button class="btn btn-outline-primary btn-icon-text" id="inlineSubmit">
                                        <i class="mdi mdi-file-check btn-icon-prepend"></i>
                                        查询
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <span class="card-title">总刷题数:  </span>
                                <span id="sum_number">  0 </span>
                                <div class="table-responsive">
                                    <table class="table table-striped" >
                                        <thead>
                                        <tr>
                                            <th>OJ</th>
                                            <th>用户名</th>
                                            <th>刷题数</th>
                                        </tr>
                                        </thead>
                                        <tbody id="content">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between center-pill">
                    <span class="text-muted text-center text-sm-center">POISTA &copy; 2022</span>
                </div>
                <div class="d-sm-flex justify-content-center justify-content-sm-between center-pill">
                    <a class="text-muted text-center text-sm-center" href="https://beian.miit.gov.cn/" target="_blank" >苏ICP备案2021053990号-1</a>
                </div>
            </footer>
        </div>
    </div>
</div>
<script src="../../vendors/base/vendor.bundle.base.js"></script>
<script src="../../vendors/chart.js/Chart.min.js"></script>
<script src="../../vendors/datatables.net/jquery.dataTables.js"></script>
<script src="../../vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="../../js/off-canvas.js"></script>
<script src="../../js/hoverable-collapse.js"></script>
<script src="../../js/template.js"></script>
<script src="../../js/dashboard.js"></script>
<script src="../../js/data-table.js"></script>
<script src="../../js/jquery.dataTables.js"></script>
<script src="../../js/dataTables.bootstrap4.js"></script>
<script src="../../js/jquery-3.5.1.js"></script>
<script>
    $(function (){
        var sum = 0;
        $("#inlineSubmit").click(function () {
            $.post({
                url:"/user/getSolvedNumber",
                data:{
                    "ojName":$("#inlineFormInputName1").val(),
                    "handle":$("#inlineFormInputName2").val()
                },
                success: function (data) {
                    if (data == -1) {
                        alert("OJ或用户名输入错误！");
                    } else {
                        sum = sum + parseInt(data);
                        $("#sum_number").html(sum);
                        var html =
                            "<tr>" +
                            "<td>" + $("#inlineFormInputName1").val() + "</td>" +
                            "<td>" + $("#inlineFormInputName2").val() + "</td>" +
                            "<td>" + data + "</td> " +
                            "</tr>";
                        $("#content").append(html);
                    }
                }
            });
        })
    });

</script>
</body>

</html>

