<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>POISTA</title>
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img src="images/logo.svg" alt="logo">
                        </div>
                        <h4>欢迎登陆！</h4>
                        <form class="pt-3" method="post" th:action="@{/login}">
                            <div class="form-check-danger">
                                <p style="color: red" th:if="${param.error}" th:text="账号或密码错误"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" th:name="username"
                                       placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg" th:name="password"
                                       placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="submit"
                                       class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                                       th:value="登录">
                            </div>
                            <div class="my-2 d-flex justify-content-between align-items-center">
                                <div class="form-check">
                                    <label class="form-check-label text-muted">
                                        <input type="checkbox" class="form-check-input" th:name="remember-me"
                                               th:value="true">
                                        记住我
                                    </label>
                                </div>
                                <a id="forgotpassword" th:href="@{/modifypwd}" class="auth-link text-black">忘记密码?</a>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                暂时还没有账号? <a th:href="@{/register}" class="text-primary">创建一个吧！</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="vendors/base/vendor.bundle.base.js"></script>
<script src="js/off-canvas.js"></script>
<script src="js/hoverable-collapse.js"></script>
<script src="js/template.js"></script>
<script src="../../js/jquery-3.5.1.js"></script>
</body>
</html>
