<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>POISTA</title>
    <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../vendors/base/vendor.bundle.base.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="shortcut icon" href="../../images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img src="../../images/logo.svg" alt="logo">
                        </div>
                        <h4>修改密码</h4>
                        <div class="pt-3">
                            <div class="form-group">
                                <input id="name" type="text" class="form-control form-control-lg" placeholder="用户名">
                            </div>
                            <div class="form-group">
                                <input id="pwd1" type="password" class="form-control form-control-lg" placeholder="新密码">
                            </div>
                            <div class="form-group">
                                <input id="pwd2" type="password" class="form-control form-control-lg" placeholder="确认密码">
                            </div>

                            <div class="mb-4">
                                <div class="form-check">
                                </div>
                            </div>
                            <div class="mt-3">
                                <button id="modifyPwd" type="submit"
                                       class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" >提交</button>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                <span id="howGetName">怎么获取账号？</span>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                <a th:href="@{/login}" class="text-primary">去登录</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../vendors/base/vendor.bundle.base.min.js"></script>
<script src="../../js/off-canvas.min.js"></script>
<script src="../../js/hoverable-collapse.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(function (){
        $("#pwd2").keyup(function (){
            if($("#pwd1").val() == $("#pwd2").val()) $("#pwd2").css("color","green");
            else $("#pwd2").css("color","red");
        })
        $("#modifyPwd").click(function (){
            if($("#name").val() == "") alert("请输入用户名");
            else if($("#name").val() == "anonymousUser") alert("非法用户名");
            else if($("#pwd1").val() == $("#pwd2").val())
            {
                $.post({
                    url:"/user/setPassword",
                    data: {
                        "name" : $("#name").val(),
                        "password" : $("#pwd1").val()
                    },
                    success:function (msg) {
                        if(msg == 1) {
                            window.location.href = "/login";
                        }
                        else if(msg == -1) alert("用户名错误");
                    }
                })
            }
            else alert("两次密码输入不一致!");
        })
        $("#howGetName").click( function () {
            alert("关注微信公众号,获取登录账号");
        })
    })
</script>
</body>
</html>
