<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>POISTA</title>
    <link rel="stylesheet" href="../../vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../vendors/base/vendor.bundle.base.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="shortcut icon" href="../../images/favicon.png"/>
</head>
<body>
<div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
            <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                <a class="navbar-brand brand-logo" th:href="@{/}"><img src="../../images/logo.svg" alt="logo"/></a>
                <a class="navbar-brand brand-logo-mini" th:href="@{/}"><img src="../../images/logo-mini.svg"
                                                                               alt="logo"/></a>
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-sort-variant"></span>
                </button>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav mr-lg-4 w-50">
                <li class="nav-item nav-search d-none d-lg-block w-100">
                    <div class="input-group">
                        <input id="search_kw" type="text" class="form-control" placeholder="搜索用户" aria-label="search"
                               aria-describedby="search"
                               onkeydown='if(event.keyCode == 13){search.click()}'>
                        <div class="input-group-append">
                            <span class="input-group-text" id="search">
                                <i class="mdi mdi-magnify"></i>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <div sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <span id="authname" class="nav-profile-name" sec:Authentication="name"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                             aria-labelledby="profileDropdown">
                            <a class="dropdown-item" th:href="@{/myinfo}">
                                <span class="mdi mdi-settings text-primary"></span>
                                设置
                            </a>
                            <a class="dropdown-item" th:href="@{/logout}">
                                <span class="mdi mdi-logout text-primary"></span>
                                退出
                            </a>
                            <a class="dropdown-item" th:href="@{/modifypwd}">
                                <span class="mdi mdi-logout text-primary"></span>
                                修改密码
                            </a>
                        </div>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}">
                <span class="text-body">
                  登录&nbsp;&nbsp;&nbsp;
                </span>
                        </a>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/register}">
                <span class="text-body">
                  注册&nbsp;&nbsp;
                </span>
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">主页</span>
                    </a>
                </li>
                <li class="nav-item"sec:authorize="hasAuthority('ROLE_admin')">
                    <a class="nav-link" th:href="@{/stupool}">
                        <i class="mdi mdi-account-group menu-icon"></i>
                        <span class="menu-title">学生池</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/myinfo}">
                        <i class="mdi mdi-account menu-icon"></i>
                        <span class="menu-title">我的信息</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div id="personalInfo" class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="d-flex justify-content-between flex-wrap">
                            <button id="upd" class="btn btn-primary mt-2 mt-xl-0">更新</button>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-center d-block d-sm-inline-block">POISTA &copy; 2022</span>
                </div>
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <a class="text-muted text-center text-sm-center d-block d-sm-inline-block" href="https://beian.miit.gov.cn/" target="_blank" >苏ICP备案2021053990号-1</a>
                </div>
            </footer>
        </div>
    </div>
</div>
<script src="../../vendors/base/vendor.bundle.base.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="../../js/off-canvas.js"></script>
<script src="../../js/hoverable-collapse.js"></script>
<script src="../../js/template.js"></script>
<script src="../../js/dashboard.js"></script>
<script src="../../js/data-table.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(function () {
        $.post({
            url: "/user/getStatisticsInfo",
            data: {
                "openid" : $("#authname").html()
            },
            success: function (data) {
                $.each(data , function (i,ex) {
                    let html = "<div class=\"col-lg-4 grid-margin stretch-card\">\n" +
                        "<div class=\"card\">\n" +
                        "<div class=\"card-body\">" +
                        "<h4 class=\"card-title\">" + ex.ojName + "</h4>" +
                        "<div class=\"template-demo\">";
                    html += "<h5> Handle : " + "<small class=\"text-muted\">" + ex.ojUsername + "</small> </h5>";
                    if(ex.nowRating != null) {
                        html += "<h5> Rating : ";
                        html += "<small class=\"text-muted\">" + ex.nowRating + "</small> </h5>"
                    }
                    if(ex.maxRating != null) {
                        html += "<h5> HighestRating : ";
                        html += "<small class=\"text-muted\">" + ex.maxRating + "</small> </h5>"
                    }
                    if(ex.recentMaxRating != null) {
                        html += "<h5> 30天内最高Rating : ";
                        html += "<small class=\"text-muted\">" + ex.recentMaxRating + "</small> </h5>"
                    }
                    if(ex.allContestNumber != null) {
                        html += "<h5> Rating场次 : ";
                        html += "<small class=\"text-muted\">" + ex.allContestNumber + "</small> </h5>"
                    }
                    if(ex.recentContestNumber != null) {
                        html += "<h5> 30天内Rating场次 : ";
                        html += "<small class=\"text-muted\">" + ex.recentContestNumber + "</small> </h5>"
                    }
                    if(ex.allSolvedNumber != null) {
                        html += "<h5> 刷题数 : ";
                        html += "<small class=\"text-muted\">" + ex.allSolvedNumber + "</small> </h5>"
                    }
                    html += "</div></div></div></div>";
                    $("#personalInfo").append(html);
                })
            }
        });
        $("#upd").click(function () {
            $.post({
                url: "/user/updateStatisticsInfo" ,
                data: {
                    "openid" : $("#authname").html()
                },
                success(msg) {
                    location.reload();
                }
            })
            let num = 30;
            $("#upd").text(num + 's');
            $("#upd").attr('disabled','true');
            $("#upd").css('cursor','auto');
            let interval = setInterval(function () {
                num--;
                if (num < 0) {
                    $("#upd").text("更新pt");
                    $("#upd").removeAttr('disabled');
                    $("#upd").css('cursor', 'pointer');
                    clearInterval(interval);
                } else {
                    $("#upd").text(num + 's');
                }
            }, 1000);
        })

    })

</script>
</body>

</html>

